<!DOCTYPE html>
<html>

<head>
    <div th:replace="padrao/general.html :: dash-head"></div>


</head>

<body>

    <!-- Sidebar -->
    <div th:replace="padrao/general.html :: dash-sidebar"></div>

    <!-- Page Content -->
    <div class="container-fluid sidebar-margin">

        <div class="row burger" data-toggle="collapse" data-target="#sidebar"><i class="fas fa-bars"></i></div>

        <div class="row">

            <div class="col-12">
                <div class="align-self-center text-center mt-5 pt-5">
                        <div class="row justify-content-end">
                                <div class="col-2">
                                    <p><a href="#" th:href="@{user-manager-cadastro}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Novo Usuário</a></p>
                                </div>
                            </div>
                    <hr>
                    <div class="lista-usuarios">
                        <table class="table table-hover">
                            <thead>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Acesso</th>
                                <th>Editar</th>
                            </thead>
                            <tbody th:each="usuario : ${usuariosList}">
                                <tr>
                                    <td th:text="${usuario.nome}">Nome</td>
                                    <td th:text="${usuario.email}">E-mail@email.com</td>
                                    <td th:text="${usuario.role}">Role</td>
                                    <td>
                                        <form th:action="@{user-manager-update}" method="POST">
                                            <input type="hidden" name="id" id="id" th:value="${usuario.idUsuario}">
                                            <input type="hidden" name="roleUser" id="roleUser" th:value="${usuario.role}">
                                            <input type="hidden" name="senhaUser" id="senhaUser" value="">
                                            <input type="image" name="editar" src="../../static/img/edit-03.png" th:src="@{/img/edit-03.png}">
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- ./row -->

    </div>
    <!-- ./conteiner-fluid -->

    <!-- Footer -->
    <div th:replace="padrao/general.html :: dash-footer">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    </div>
    <script src="../../static/js/dash-home.js" th:src="@{/js/dash-home.js}"></script>


</body>

</html>