<!DOCTYPE html>
<html>

<head>
    <div th:replace="padrao/general.html :: dash-head"></div>


</head>

<body>

    <!-- Sidebar -->
    <div th:replace="padrao/general.html :: dash-sidebar"></div>

    <!-- Page Content -->
    <div class="container-fluid sidebar-margin">

        <div class="row burger" data-toggle="collapse" data-target="#sidebar"><i class="fas fa-bars"></i></div>

        <div class="row">

            <div class="col-12">
                <div class="align-self-center text-center mt-5 pt-5">
                    <div class="form-cad-usuario">
                        <form class="form-usuario" th:action="@{user-manager-cadastro}" method="POST" th:object="${novo}">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="nomeUser">Nome:</label>
                                        <input type="text" th:value="${novo.nome}" class="form-control" placeholder="Nome completo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="emailUser">Email:</label>
                                        <input type="text" name="emailUser" id="emailUser" class="form-control"
                                            th:value="${novo.email}" placeholder="nome@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="senhaUser">Senha:</label>
                                        <input type="text" name="senhaUser" id="senhaUser" class="form-control"
                                            placeholder="8 a 12 caracteres" minlength="8" maxlength="12">
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="roleUser">Acesso:</label>
                                                <label><input type="radio" name="roleUser" class="form-control" value="Administrador">Administrador</label>
                                                <label><input type="radio" name="roleUser" class="form-control" value="Gerente">Gerente</label>
                                                <label><input type="radio" name="roleUser" class="form-control" value="Usuario">Usuário</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary form-control">
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- ./row -->

    </div>
    <!-- ./conteiner-fluid -->

    <!-- Footer -->
    <div th:replace="padrao/general.html :: dash-footer">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    </div>
    <script src="../../static/js/dash-home.js" th:src="@{/js/dash-home.js}"></script>


</body>

</html>