.card-header {
    font-size: 25px;
}

.end-icon {
    float: right;
}

.produto-info {
    border: 0.5px solid #80808059;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #8080806b;
}

.btn-detalhes {
    white-space: normal !important;
    font-weight: bold !important;
}