body {
    background-color: rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px !important;
}

.nav-bottom {
    top: 56px !important;
    z-index: 1020 !important;
}

.nav-margin {
    margin-top: 7rem !important;
    z-index: 0 !important;
}

.bg-color {
    background-color: rgb(0, 123, 255);
}

.carousel-sizes .carousel-inner .carousel-item {
    max-height: 400px !important;
    height: 400px !important;
    min-height: 25% !important;
}

.img-carousel {
    max-height: 400px !important;
}

.footer-font-size {
    font-size: 11px;
}

.footer-info {
    border-top: 1px solid #d9d9d9;
}

.footer-ul {
    padding-left: 20px;
}

.footer-ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 992px) {
    .footer-top-display {
        display: none !important;
    }
}

.card-text {
    min-height: 4.2em;
    max-height: 4.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img-top {
    max-width: 100px !important;
    max-height: 100px !important;
    width: auto !important;
    height: auto !important;
}

/*  Cliente */

.icon-user {
    color: #d9d9d9;
    z-index: 1;
}

.listEnderecos {
    list-style-type: none;
}

.listEnderecos .tipoEndereco {
    font-style: bold;
}

.pass_show{position: relative} 

.pass_show .ptxt { 

position: absolute; 

top: 50%; 

right: 10px; 

z-index: 0; 

color: #f36c01; 

margin-top: -10px; 

cursor: pointer; 

transition: .3s ease all; 

} 

.cli-info{
    margin-bottom: 1em;
}

.pass_show .ptxt:hover{color: #333333;}
.vertical-line{
    border-right: 2px solid lightgray;
    height: 40%;
}
.btn-cliente{
    width: 10em;
}
.idEndereco{
    width: 10%;
    height: auto;
}

.renova-senha{
    margin-top: 5em;
    margin-bottom: 5em;
}
/*  cliente */