.nav-margin {
    margin-top: 4rem!important;
}
.bg-green {
    background-color: greenyellow;
}

.footer-font-size{
    font-size: 11px;
}

.footer-info{
    border-top: 1px solid #d9d9d9;
}

.footer-ul{
    padding-left: 20px;
}

.footer-ul li{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}