<!doctype html>
<html lang="pt-br">

<head th:include="padrao/general.html :: headfiles">
	<link rel="stylesheet" href="../static/css/detalhe.css" th:href="@{/css/detalhe.css}">
	<title th:text="${titulo}">Detalhes</title>
</head>

<body>

	<!-- Navigation Bar -->
	<div th:replace="padrao/general.html :: navbarfiles"></div>

	<!-- Page Content -->
	<div class="container nav-margin">
		<div class="row">
			<div class="col-md-2 lateral-cli-menu">

				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action active">Meus dados</a>
					<a href="#" class="list-group-item list-group-item-action">Pedidos</a>
					<a href="#" class="list-group-item list-group-item-action">Endereços</a>
				</div>

				

			</div>
			<div class="col-md-10 form-cad-cli">

				<div th:if="${msg != null}">
					<p style="color: rgb(0, 4, 255); background-color: rgb(205, 245, 182)" th:text="${msg}"></p>
				</div>

				
			</div>

		</div>
	</div>

	<!-- /.container nav-margin -->
	<!-- /Page Content -->


	<!-- Footer -->
	<div th:replace="padrao/general.html :: footerfiles"></div>

	<script src="../../static/js/busca-endereco.js" th:src="@{/js/busca-endereco.js}"></script>
</body>

</html>