<!doctype html>
<html lang="pt-br">

<head>
	<div th:insert="padrao/general.html :: headfiles"></div>
	<link rel="stylesheet" href="../../static/css/cliente.css" th:href="@{/css/cliente.css}">
	<style>
		.form-control {
			display: block;
		}

		.ddd {
			width: 3.5em;
		}
	</style>
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-green fixed-top">
		<div class="container">
			<a class="navbar-brand" href="index.html" th:href="@{/}">PetChopp</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="../home/index.html">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../search/search.html">Search</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../cart/cart.html">Carrinho</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container nav-margin">
		<div class="row">
			<div class="col-md-2 lateral-cli-menu">

					<div class="list-group">
							<a href="#" th:href="@{/cliente/minhaconta}" class="list-group-item list-group-item-action active">Meus dados</a>
							<a href="#" th:href="@{orders}" class="list-group-item list-group-item-action">Pedidos</a>
							<a href="#" th:href="@{enderecos}" class="list-group-item list-group-item-action">Endereços</a>
						</div>

			</div>
			<div class="col-md-10 ">
				<h3>Meus Pedidos</h3>
				<hr>



				<div id="timeline-wrap">
					<div id="timeline"></div>
					
					<!-- This is the individual marker-->
					<div class="marker mfirst">
						
					  <span class="hint--top" data-hint="Here is a marker with more text!">
						<div class="inner-marker"></div></span></div>
					<!-- / marker -->
				  
					<!-- This is the individual marker-->
					<div class="marker m2">
					  <span class="hint--top" data-hint="Here is a marker with more text!">
						<div class="inner-marker"></div></span><br><p>Teste bla</p></div>
					<!-- / marker -->
				  
					

				</div>

			</div>

		
	</div>
	
	<!-- /.container nav-margin -->
	<!-- /Page Content -->

	<!-- Footer -->
	<div th:replace="padrao/general.html :: footerfiles"></div>

</body>


</html>