<!doctype html>
<html lang="pt-br">
<head>
    <div th:insert="padrao/general.html :: headfiles"></div>
    <link rel="stylesheet" href="../static/css/orderFinish.css" th:href="@{/css/orderFinish.css}">
</head>

<body>

    <!-- Navigation Bar -->
   <div th:replace="padrao/general.html :: navbarfiles"></div>

    <!-- Page Content -->
    <div class="container nav-margin p-3 p-md-4 nav-margin orderlist">
        <div style="padding: 60px 0px;">
            <h2 class="font-weight-bold text-success">Pedido Finalizado Com Sucesso!</h2>
            <p>O seu pedido pedido de protocolo
                <span class="font-weight-bold" th:text="${protocolo}">20181106173511534</span> foi finalizado com sucesso;</p>
            <p>Aguarde enquanto o pagamento é aprovado para que o seu pedido seja liberado;</p>
            <p>Realize o acompanhamento do seu pedido a partir dos
                <span class="font-weight-bold">'Pedidos'</span> presente em seu perfil;</p>
            <p>Em caso de eventuais dúvidas ou esclarecimentos entre em contato conosco.</p>
        </div>
    </div>
    <!-- /Page Content -->


    <!-- Footer -->
    <div th:replace="padrao/general.html :: footerfiles"></div>
    <script src="../../static/js/orderFinish.js" th:src="@{/js/orderFinish.js}"></script>

</body>


</html>