<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Testes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>

    <h1>Testes</h1>

    <div class="row">
        <div class="col-12">
            <h2>Produto</h2>
            <p th:text="${produto.idProduto}"></p>
            <p th:text="${produto.Codigo}"></p>
            <p th:text="${produto.Nome}"></p>
            <p th:text="${produto.Preco}"></p>
            <p th:text="${produto.Custo}"></p>
            <p th:text="${produto.Descricao}"></p>
            <p th:text="${produto.dtCompra}"></p>
            <p th:text="${produto.dtValidade}"></p>
            <p th:text="${produto.urlImagem}"></p>
            <p th:text="${produto.EmEstoque}"></p>
            <p th:text="${produto.Disable}"></p>
        </div>
    </div>

</body>

</html>